<section class="bodyS">
  <div class="basicInfo">
    <div class="basicInfoTextInner">
      <p class="wow fadeInDown" data-wow-delay="0.8s">Have you ever thought about having your own podcast? You might argue no one in your niche listens to them these days, or at least not to the extent where it would be beneficial for you to invest in it. But that’s totally not true. That’s because this type of long-form audio content is something completely different. It enables your company to establish a deep relationship with your target audience by offering them something that they are willing to listen for 30+ minutes. It's safe to say that podcasts are booming at the moment and it will never be as easy to succeed on these platform as it is today. Let us help you shine!</p>
    </div>
    <a href="/ontherebound">
      <div class="projectWindow ontherebound wow fadeInRight" class="wow fadeInUp" data-wow-delay="0.8s">
        <div class="description">
          <h3>DENNIS RODMAN</h3>
          <h4 class="displayDesktop">Podcast production for the NBA star Dennis Rodman. It's called "On The Rebound".</h4>
          <h4 class="displayMobile">Podcast production for the NBA star Dennis Rodman.</h4>
        </div>
        <div class="layer"></div>
      </div>
    </a>
  </div>
  <p class="wow fadeInDown vybocujiciPodcastText">When it comes to podcasting, there are only 2 things you should worry about: production and distribution. We can help you with both of those things. We can assist you with any issue you might be having with your recording hardware, discuss different content strategies and all the stuff related to it - so you can record your episode with no issues. After that, just lay back and we'll take care of the rest. That means entire production (audio correction, video editing, and extra graphics) and we'll also get the show in front of people. That's mainly done by creating multiple layers of additional content that's later distributed directly towards your target audience. It doesn't matter if your podcast is heavily B2B focused or if you're just talking about cats all day. In the end, we'll create you a strategy that fits all your needs and most importantly, keeps your audience engaged and happy.</p>
  <div class="line lineMobile"></div>
  <div class="listServices">
    <h2>we'll take care of all those things</h2>
    <ul>
      <li>audio design</li>
      <li>video editing</li>
      <li>technical support</li>
      <li>social media management</li>
      <li>marketing strategy</li>
      <li>copywriting</li>
      <li>consultations</li>
    </ul>
  </div>
</section>
<div class="line"></div>
<section class="whereToGoNext">
  <div class="boxes">
    <div class="videoPhotoBox wow fadeInLeft">
      <a href="/content-production"></a>
      <h4>VIDEO & PHOTO<br>PRODUCTION</h4>
    </div>
    <div class="projectsBox wow fadeInDown">
      <a href="/projects"></a>
      <h4>PROJECTS</h4>
    </div>
    <div class="socialMediaBox wow fadeInRight">
      <a href="/marketing"></a>
      <h4>SOCIAL MEDIA<br>MARKETING</h4>
    </div>
  </div>
  <p>// where to go next?</p>
</section>
