<section class="jumbotron">
  <div class="jumbotronPart1_middleman">
    <h1>what’s the<br><span>process?</span></h1>
    <div class="mobileSplit wow fadeInLeft" data-wow-delay="0.5s"></div>
    <div class="descriptionJumb">
      <p>Project Middleman a perfect solution for every forward-thinking company or an individual, looking to boost their online presence.</p>
      <a title="Contacts" class="button" href="#contacts">LET'S CONNECT!</a>
    </div>
  </div>
  <div class="prezentace velkaPrezentace">
    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRU_JsJ6qes7_cFVyEtLfePvrV_qXDy8NH3BG0oRAxIEulsCzmWUs6if2UIISRLv5ky5twbA1ZHSfAj/embed?start=false&loop=true&delayms=3000" frameborder="0" width="1140px" height="670" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
  </div>
  <div class="prezentace stredniPrezentace">
    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRU_JsJ6qes7_cFVyEtLfePvrV_qXDy8NH3BG0oRAxIEulsCzmWUs6if2UIISRLv5ky5twbA1ZHSfAj/embed?start=false&loop=true&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
  </div>
  <div class="prezentace malaPrezentace">
    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRU_JsJ6qes7_cFVyEtLfePvrV_qXDy8NH3BG0oRAxIEulsCzmWUs6if2UIISRLv5ky5twbA1ZHSfAj/embed?start=false&loop=true&delayms=3000" frameborder="0" width="480" height="299" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
  </div>
  <div class="prezentace pidiPrezentace">
    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRU_JsJ6qes7_cFVyEtLfePvrV_qXDy8NH3BG0oRAxIEulsCzmWUs6if2UIISRLv5ky5twbA1ZHSfAj/embed?start=false&loop=true&delayms=3000" frameborder="0" width="320" height="209" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
  </div>
</section>
