<h1 class="cenikNadpis wow fadeInDown">Value is more expensive than price</h1>
<div class="cenik">
  <div class="ceny cenikSocialMedia">
    <table>
      <tr class="prvniRadek"><th class="nazevSekce">social media</th><th class="cenaSekce">price</th></tr>
      <tr class="druhyRadek"><td>low budget campaign management (<$450)</td><td>$320 / month</td></tr>
      <tr><td>medium budget campaign management ($450 - $1300)</td><td>$530 / month</td></tr>
      <tr><td>high budget campaign management (>$1300)</td><td>custom</td></tr>
      <tr><td>consultations / training / strategy development / etc.</td><td>$60 / hour</td></tr>
    </table>
  </div>
  <div class="ceny cenikPodcasty">
    <table>
      <tr class="prvniRadek"><th class="nazevSekce">podcasts</th><th class="cenaSekce">price</th></tr>
      <tr class="druhyRadek"><td>short podcast episode, audio only</td><td>starts at $100 / episode</td></tr>
      <tr><td>average podcast episode, video and audio</td><td>starts at $150 / episode</td></tr>
      <tr><td>long podcast episode + additonal social media content</td><td>starts at $200 / episode</td></tr>
      <tr><td>consultations / strategy / setup / etc.</td><td>$60 / hour</td></tr>
    </table>
  </div>
  <div class="ceny cenikOstatni">
    <table>
      <tr class="prvniRadek"><th class="nazevSekce">extra services</th><th class="cenaSekce">price</th></tr>
      <tr class="druhyRadek"><td>project middleman</td><td>$900 - $2600 / month</td></tr>
      <tr><td>micro content creation</td><td>custom (approx. $20 / video)</td></tr>
      <tr><td>graphics / website customization / etc.</td><td>custom</td></tr>
    </table>
  </div>
</div>
